<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
   <title>
      {% block title_block %}
      {% endblock %}
   </title>
   <link rel="icon" href="{% static 'images/favicon.ico' %}">
</head>

<body>
{% include 'rango/navbar.html'%}

<div class="container-fluid">

      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">

            <ul class="nav nav-pills flex-column">
		        <li class="nav-item">Type to find a category</li>
	            <form>
			        <li class="nav-item"><input class="search-query form-control" type="text"
				        name="suggestion" value="" id="suggestion" />
			        </li>
		        </form>
	        </ul>
            <hr />
	<div id="cats">
	</div>
             </div>
            <div class="col-sm-9 offset-sm-3 col-md-10 offset-md-2 main">
                {% block body_block %}

                {% endblock %}
        </div>
      </div>
</div>
</body>
</html>