<!DOCTYPE html>
{% extends 'rango/base.html' %}
<html>
{% block title_block %}
Categorias
{% endblock %}


{% block body_block %}
<div class="container-fluid">

<h1>Categorias por likes</h1>

     <div>
        {% if categorias %}
    <ul>
        {% for categoria in categorias %}

            <li class="list-group-item"><a href="{% url 'rango:show_category' categoria.slug %}">{{ categoria.name }}</a>
                <span id="like_count" class="badge badge-pill badge-primary">{{categoria.likes}} </span> {% if user.is_authenticated %}
        <button id="likes" data-catid="{{categoria.id}}" class="btn btn-primary btn-sm" type="button">
			Like
		</button>
        {% endif %}</li>

        {% endfor %}
    </ul>
    {% else %}
        <strong>There are no categories present.</strong>
    {% endif %}
     {% if user.is_authenticated %}
    <a href="{% url 'rango:add_category' %}">Adicionar nova categoria</a>
    {% else %}
    <a href="{% url 'rango:login_required' %}">Adicionar nova categoria</a>
    {%endif %}
    </div>
</div>
{% endblock %}

</html>