<!DOCTYPE html>
{% extends 'rango/base.html' %}
<html>
<head>
    <title>{{categoria.name}}</title>
</head>
<body>

{% block body_block %}


<div class="container-fluid">

<div>
    {% if categoria %}
        <h1>{{ categoria.name }}</h1>
        {% if paginas %}
            <ul>
            {% for pagina in paginas %}
                <li><a href="{{ pagina.url }}">{{ pagina.title }}</a></li>
            {% endfor %}
            </ul>
        {% else %}
            <strong>No pages currently in category.</strong>
        {% endif %}
    {% else %}
        The specified category does not exist!
    {% endif %}
    {% if user.is_authenticated %}
    <a href="{% url 'rango:add_page' categoria.slug %}">Adicionar nova página</a>
    {% else %}
    <a href="{% url 'rango:login_required' %}">Adicionar nova página</a>
    {%endif %}
    </div>
</div>
{% endblock %}
</body>
</html>