<!DOCTYPE html>

<html>
<head>
    <title>Categorias</title>
</head>

<body>
{% include 'rango/navbar.html'%}

<div class="container-fluid">

<h1>Categorias</h1>

     <div>
        {% if categorias %}
    <ul>
        {% for categoria in categorias %}

            <li>
            <a href="{% url 'rango:show_category' categoria.slug %}">{{ categoria.name }}</a>
            </li>
        {% endfor %}
    </ul>
    {% else %}
        <strong>There are no categories present.</strong>
    {% endif %}
     {% if user.is_authenticated %}
    <a href="{% url 'rango:add_category' %}">Adicionar nova categoria</a>
    {% else %}
    <a href="{% url 'rango:login_required' %}">Adicionar nova categoria</a>
    {%endif %}
    </div>
</div>
</body>
</html>