<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
    <body>

    {% include 'rango/navbar.html'%}

        <h4> Para adicionar contéudos ao site você precisa estar logado. </h4>
       <p></p>

        <div class="container-fluid">
            <form id="login_form" method="post" action="{% url 'rango:login' %}">
                {% csrf_token %}
                Username: <input type="text" name="username" value="" size="50" />
                <br />
                Password : <input type="password" name="password" value="" size="50" />
                <br />
                <input type="submit" value="submit" />
            </form>
        </div>
    </body>
</html>