<!DOCTYPE html>
<html lang="pt-br">
{% load static %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script
src="https://ajax.googleapis.com/ajax/libs/jquery/3.0.0/jquery.min.js">
</script>

<script src="{% static 'js/rango-jquery.js' %}"></script>
<script src="{% static 'js/rango-ajax.js' %}"></script>


<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="{% url 'rango:index' %}">Home</a>
    <div class="collapse navbar-collapse" id="navbar">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item dropdown">
                <a  class="nav-link dropdown-toggle" role="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    Módulos
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="{% url 'rango:list_profiles' %}">Lista de perfils</a>
                    <a class="dropdown-item" href="{% url 'rango:about' %}">About</a>
                    <a class="dropdown-item" href="{% url 'rango:all_categories' %}">Categorias</a>
                    <a class="dropdown-item" href="{% url 'rango:all_paginas' %}">Páginas</a>
                    <a class="dropdown-item" href="{% url 'rango:add_category' %}">Adicionar categoria</a>
                    <div class="dropdown-divider"></div>
                </div>
            </li>
        </ul>

      <ul class="navbar-right-right">
          <div class="active"><p style="margin-top: 1px;">
          <li class="nav-item dropdown">
              <form class="form-inline" id="user_form"
        method="post" action="{% url 'rango:search' %}">
        {% csrf_token %}
        <div class="form-group">
            <input class="form-control" type="text" size="20"
            name="query" value="" id="query" />
        </div>

            <button class="btn btn-primary" type="submit" name="submit"
            value="Search">Search</button>
    </form>

          </li>
          </div>

      </ul>

              {% if user.is_authenticated %}
                <ul class="navbar-right-right">
                <li class="nav-item dropdown">
                    <a      class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        {{ user.username}}
                    </a>

                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="{% url 'rango:profile' user.username %}">Perfil</a>
                            <a class="dropdown-item" href="{% url 'auth_password_change' %}">Mudar senha</a>
                            <a class="dropdown-item" href="{% url 'auth_logout' %}?next=/" >Sair</a>
                            <div class="dropdown-divider"></div>
                    </div>
                </li>
            </ul>
            {% else %}
                <li><a href="{% url 'auth_login' %}">Sign In</a></li>
                <li><a href="{% url 'registration_register' %}">Sign Up</a></li>
            {% endif %}
    </div>
        </div>

</nav>
</body>
</html>
