<!DOCTYPE html>

<html>
<head>
    <title>Paginas</title>
</head>

<body>

{% include 'rango/navbar.html'%}

<div class="container-fluid">
<h1>Paginas</h1>

     <div>
        {% if paginas %}
    <ul>
            {% for pagina in paginas %}

                <li>
                <a href="{{pagina.url}}">{{ pagina.title }}</a>
                </li>
            {% endfor %}
    </ul>
        {% else %}
            <strong>There are no pages present.</strong>
        {% endif %}
         <a href="{% url 'rango:add_page' 'no-category' %}">Adicionar nova página sem categoria</a><br />
    </div>
</div>
</body>

</html>